@font-face {
    font-family: 'PoetsenOne';
    src: url('/assets/fonts/Poetsen_One/PoetsenOne-Regular.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins/Poppins-Bold.ttf') format(truetype)
         url('/assets/fonts/Poppins/Poppins-Light.ttf') format(truetype)
         url('/assets/fonts/Poppins/Poppins-Medium.ttf') format(truetype)
         url('/assets/fonts/Poppins/Poppins-Regular.ttf') format(truetype)
         url('/assets/fonts/Poppins/Poppins-SemiBold.ttf')format(truetype);
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* On ajoute un coeur avant les liens */
a{
    text-decoration: none;
    color: #191919;
}
li{
    list-style-type: none;
}

/* Partie Header */
header{
    padding: 5px;
    width: 100%;
    height: 80px;
    position: fixed;
}
/* Menu de navigation */
#navbar-content{
    display: flex;
    justify-content: end;
    justify-content: space-around;
    color: #191919;
    margin-left: 40%;
    margin-top: 10px;
}
#navbar-content li:not(#logo){

}
#logo{
    font-family: 'PoetsenOne';
    font-size: 25px;
    position: absolute;
    top: 10px;
    left: 2%;
    color: #f9f9f9;
}
.btn{
    color: #f9f9f9;
    font-weight: 600;
}
    .btn:hover{
        color: #F52889;
        transition: .7s;
    }
/* Partie Main */
main{
    scroll-snap-type: y mandatory;
}
section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#home{
    background-image: url('/assets/images/halftone-background-with-circles/5172658.jpg');
    color: #f9f9f9;
    display: flex;
    flex-direction: column;
}
    #home a{
        color: #F52889;
    }

#hobbies{
    background-image: url('/assets/images/purple-bokeh-digital-business-background.jpg');
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
    #open-source{
        margin-top: 70px;
    }
    .hobby{
        width: 300px;
        height: 300px;
    }
/* Partie Footer */

/* Responsivité */
